.dropdown-menu {
    position: absolute;
    background-color: #ffffff;
    text-align: left;
    display: none; /* Initially hidden */
    z-index: 10;
    border: 1px solid #ccc;
    width: auto;
    white-space: nowrap;
    margin-top: 8px; /* Adjust margin to create space between buttons */
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #374151;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: #f3f4f6;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
#address {
    padding: 10px 20px; /* Match padding with dropdown items */
    color: #374151;
    background-color: #ffffff;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
    width: auto;
    white-space: nowrap;
    margin-top: 8px;
}

#address a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #374151;
    transition: background-color 0.3s;
    border: 1px solid #ccc;
}

#address a:hover {
    background-color: #f3f4f6;
}
.header-background {
    background-image: url('/image/asansorbackground.png');
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; /* Centers the background image */
    padding: 20px; /* Adds padding around the content */
    color: #ffffff; /* Text color */
    text-align: center; /* Centers the text */
    height: 400px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-menu {
    position: absolute;
    background-color: #ffffff;
    text-align: left;
    display: none; /* Initially hidden */
    z-index: 10;
    border: 1px solid #ccc;
    width: auto;
    white-space: nowrap;
    margin-top: 8px; /* Adjust margin to create space between buttons */
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #374151;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: #f3f4f6;
}

.dropdown:hover .dropdown-menu {
    display: block; /* Show dropdown menu on hover */
}

/* Triangle icon */
.dropdown-toggle::after {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4a5568;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
    transform: rotate(-90deg);
    display: inline-block;
    vertical-align: middle;
}

.dropdown:hover .dropdown-toggle::after {
    transform: rotate(0deg);
}

/* Positioning for top-right button */
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Adjust color for non-dropdown buttons */
.non-dropdown-btn {
    color: #374151; /* Black text */
    padding: 10px 20px;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
}

.non-dropdown-btn:hover {
    background-color: #10b981; /* Green color on hover */
}
.royalcert-icon {
    position: fixed; /* Elementi sabitler */
    left: 0; /* Sol tarafa yaslar */
    bottom: 0; /* Alt tarafa yaslar */
    margin: 10px; /* Kenarlardan biraz boşluk bırakır */
}
.Instagram_icon {
    left: 60px; /* RoyalCert ikonunun genişliğine ve arzu ettiğiniz boşluğa bağlı olarak ayarlayın */
}

.Youtube-logo {
    left: 120px; /* Instagram ikonunun genişliğine ve arzu ettiğiniz boşluğa bağlı olarak ayarlayın */
}

.Linkedin-logo {
    left: 180px; /* YouTube ikonunun genişliğine ve arzu ettiğiniz boşluğa bağlı olarak ayarlayın */
}