.dropdown-menu {
    position: absolute;
    background-color: #ffffff;
    text-align: left;
    display: none;
    z-index: 10;
    border: 1px solid #ccc;
    width: auto;
    white-space: nowrap;
    margin-top: 8px;
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #374151;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: #f3f4f6;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
#address {
    padding: 10px 20px; /* Match padding with dropdown items */
    color: #374151;
    background-color: #ffffff;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
    width: auto;
    white-space: nowrap;
    margin-top: 8px;
}

#address a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #374151;
    transition: background-color 0.3s;
    border: 1px solid #ccc;
}

#address a:hover {
    background-color: #f3f4f6;
}
